.footer-div {
	background: #333;
	padding: 60px 0;
}
.footer-div .social-links {
	margin-bottom: 20px;
}
.footer-div .social-links p {
	color: #fff;
	font-size: 18px;
}
.footer-div .social-icons a {
	background: #565251;
    padding: 5px 12px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.footer-div .social-icons a:nth-of-type(2) {
	padding: 5px 9px;
}
.footer-div .social-icons a i {
	color: #fff;
	font-size: 24px;
}
.footer-div .address {
	margin-bottom: 20px;
}
.footer-div .address p {
	color: #9f9f9f;
    text-align: center;
    word-break: break-word;
}
.footer-div .address a {
	color: #9f9f9f !important;
	text-decoration: none !important;
}
.footer-div .logo {
	text-align: center;
}
.footer-div .logo img {
	padding: 5px;
	border: 1px solid #d8d4d1;
}
.copyright-div {
	background: #222;
	text-align: center;
	padding: 20px;
}
.copyright-div p {
	color: #949494;
	margin-bottom: 0;
}
.footer-div .social-links,
.footer-div .address,
.footer-div .logo {
	text-align: center;
}
.social-icons {
	overflow: hidden;
    display: inline-block;
}

@media (max-width: 479px) {
	.footer-div {
		padding: 30px;
	}
}