@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto Condensed', sans-serif;
}
.header-wrapper {
	padding-top: 15px;
}
.header-wrapper .dropdown-menu .dropdown-item {
	display: block;
    padding: 10px;
	text-align: center;
}
.header-wrapper .dropdown-toggle:after {
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}
.header-wrapper .navbar-nav .open .dropdown-menu {
	border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.logo-wrapper {
	float: left;
	margin-bottom: 38px;
}
.logo-wrapper img {
	padding: 5px;
	border: 1px solid #d8d4d1;
	margin: 0 auto;
}
.header-wrapper .navbar-default {
	background: transparent;
	border: 0;
}
.header-wrapper .navbar-nav {
	width: 100%;
    margin: 0 auto;
	float: none;
}
.header-wrapper .navbar-collapse {
	border: 0;
}
.header-wrapper .navbar-nav li {
	width: 100%;
	text-align: center;
}
.header-wrapper .navbar-nav li a {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}
.header-wrapper .navbar-nav li a:focus,
.header-wrapper .navbar-nav li a:hover,
.header-wrapper .navbar-nav li.active a:hover {
	background: transparent;
	background-color: #fff !important;
}
.header-wrapper .navbar-nav li.active a{
	background: transparent;
	border-bottom: 2px solid #2c6457;
}
.navbar-default button.navbar-toggle {
	padding: 15px;
    margin-top: 55px;
}
.navbar-default button.navbar-toggle:hover,
.navbar-default button.navbar-toggle:focus {
	background-color: #fff;
}

@media screen and (min-width: 768px) {
	.logo-wrapper {
		text-align: center;
		float: none;
	}
	.header-wrapper .navbar-nav {
		width: 80%;
	}
	.header-wrapper .navbar-nav li {
		width: 20%;
	}
}
