.content-wrapper {
	padding: 40px;
	background: #f9f9f9;
}
.content-wrapper h1 {
	font-size: 26px;
	font-weight: 300;
}
.button {
	display: inline-block;
	padding: 10px 15px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none !important;
	outline: none;
	color: #fff !important;
	background-color: #2d6558 !important;
}

/* Home */
.home-slider-section {
	margin: 0;
}
.home-slider {
	width: 100%;
	height: 480px;
	background: #000;
	overflow: hidden;
}
.home-slider .slide-item {
	display: block;
	width: 100%;
	height: 480px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.home-slider .slide-item.slide-1 {
	background-image: url(../images/home-slide1.png);
}
.home-slider .slide-item.slide-2 {
	background-image: url(../images/home-slide2.png);
}
.home-slider .slide-item.slide-3 {
	background-image: url(../images/home-slide3.jpg);
}
.home-slider .slide-item.slide-4 {
	background-image: url(../images/home-slide4.png);
}
.home-content {
	padding: 50px 20px;
	position: relative;
	text-align: center;
}
.home-content h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	font-weight: 300;
	margin: 0;
}
.home-content p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #666666;
	line-height: 22px;
}
.home-content p.big {
	font-size: 14px;
	font-weight: bold;
}
.home-section {
	width: 80%;
	max-width: 940px;
	margin: 0 auto;
}
.text-overlay {
    color: #f9f9f9;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    z-index: -1;
}
.hr-outline {
    display: block;
    width: 100%;
    height: 50px;
	background: url(../images/hr-outline.png);
	background-position: center;
	background-repeat: no-repeat;
}
.home-banner {
	width: 100%;
	height: 400px;
	background: #000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.home-banner.weddings {
	background-image: url(../images/weddings-bg.jpg);
}
.home-banner.debuts {
	background-image: url(../images/debuts-bg.jpg);
}
.events-img-wrapper {
	width: 90%;
	max-width: 992px;
	margin: 30px auto;
	overflow: hidden;
	text-align: center;
}
.events-img-wrapper img {
	float: left;
	width: 27.333%;
	margin: 0 3%;
}
.testimonial-slider-section {
	overflow: hidden;
}
.testimonial-slider {
	width: 100%;
	background: #286254;
	overflow: hidden;
	padding: 0 10%;
}
.testimonial-slide {
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 30px 0 50px;
	margin: 0 auto;
}
.testimonial-slide p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 22px;
}
.testimonial-slide h4 {
	font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
	margin: 40px 0 0;
}
.testimonial-slide .hr-outline {
	margin-bottom: 20px;
}
@media (max-width: 991px) {
	.home-slider,
	.home-slider .slide-item {
		height: 320px;
	}
	/* .testimonial-slider,
	.testimonial-slider .slide-item {
		height: 320px;
	} */
	.home-banner {
		height: 320px;
		background-attachment: scroll;
	}
}
@media (max-width: 767px) {
	.home-slider-section {
		margin-top: 10px;
	}
	.home-slider,
	.home-slider .slide-item {
		height: 250px;
	}
	/* .testimonial-slider,
	.testimonial-slider .slide-item {
		height: 250px;
	} */
	.home-banner {
		height: 250px;
	}
}
@media (max-width: 479px) {
	.home-slider,
	.home-slider .slide-item {
		height: 200px;
	}
	/* .testimonial-slider,
	.testimonial-slider .slide-item {
		height: 200px;
	} */
	.home-banner {
		height: 200px;
	}
	.events-img-wrapper img {
		width: 80%;
		margin: 10px auto;
		float: none;
		clear: both;
	}
}

/* Contact Us */
.contact-us {
	background: #f9f9f9;
}
 #map {
	margin-top: 10px;
}
.contact-us .contact-information {
	margin: 15px 0;
    float: left;
}
#contact-form .control-label {
	font-weight: normal;
}
#contact-form textarea {
	max-width: 100%;
	height: 100px;
	max-height: 150px;
}
#contact-form #send-btn {
	background: #2d6558;
	color: #fff;
	border: none;
	border-radius: 0;
	padding: 7px 30px;
    margin-left: 25px;
	margin-top: 20px;
}
#contact-form .g-recaptcha {
	float: right;
}
.form-captcha {
	text-align: right;
	margin-bottom: 15px;
}
.form-captcha img {
	max-width: 100%;
	border: 2px solid #2d6558;
}
.content-wrapper.contact-us .container {
	max-width: 100%;
}
.form-message {
	display: none;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    background: #f1f1f1;
    color: #2d6558;
    border: 2px solid #2d6558;
}
.form-message.error {
	color: #da2121;
    border: 2px solid #da2121;
}
@media (max-width: 479px) {
	.content-wrapper.contact-us {
		padding: 10px;
	}
}

/*Gallery*/
.content-wrapper.gallery h2{
	float: left;
    background: #286254;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.content-wrapper.gallery .items-wrapper {
	clear: both;
	margin-bottom: 35px;
}
.content-wrapper.gallery .gallery-item img {
	border: 7px solid #fff;
	max-width: 100%;
	display: none;
}
.img-preview {
	display: block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 7px solid #fff;
}
.lb-data .lb-details .lb-number {
	display: none !important;
}
#lightbox .lb-outerContainer {
	width: 70% !important;
}
#lightbox .lb-image {
	width: 100% !important;
	height: auto !important;
}

@media screen and (min-width: 480px){
	.content-wrapper.gallery .gallery-item {
		width: 50%;
	}
}
@media screen and (min-width: 768px){
	.content-wrapper.gallery .gallery-item {
		width: 25%;
	}
}

/* Scroll to Top */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
	background-color: #2d6558;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #2d6558;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

/*PACKAGES*/
.package-item {
	padding: 15px 10px;
    background: #fff;
	margin: 0;
}
.package-item img {
	max-width: 100%;
}
.package-item h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 23px;
	color: #2d6558;
}
.package-info-wrapper {
	position: relative;
}
.package-info-wrapper a {
	background: #286254;
    color: #fff;
    padding: 3px 15px;
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}